<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        bootstrap="tests/bootstrap.php"
        colors="true">
    <testsuites>
        <testsuite name="Teknoo Software Sellsy Client Test Suite">
            <directory>tests/Sellsy</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
            <directory>definitions</directory>
            <exclude>
                <directory>tests</directory>
                <directory>docs</directory>
                <directory>demo</directory>
                <directory>licences</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
