<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" bootstrap="tests/bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>src</directory>
      <directory>infrastructures</directory>
      <directory>definitions</directory>
    </include>
    <exclude>
      <directory>tests</directory>
      <directory>docs</directory>
      <directory>demo</directory>
      <directory>licences</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Teknoo Software Sellsy Client Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
